# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/

# Optional: virtual environments
venv/
.venv/
env/

# Packaging/build artifacts
build/
dist/
*.egg-info/

# Sphinx build output
docs/_build/

# OS files
.DS_Store
Thumbs.db